* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.container1 {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	
}


.container2 {
	width: 100%;
	margin: 0;
	padding: 30px;
	background-color:rgb(97, 112, 118);
}

.container2 h2{
	color: black;
	background-color:rgb(130, 238, 233) ;
	border-radius: 15px;
	box-sizing: border-box;
	width: 10%;
}

.container2 p, .container4 p{
	font-size: 25px;
}


.container3 {
	width: 100%;
	margin: 0;
	padding: 30px;
	background-color:rgb(114, 133, 140);
}

.container3 h2{
	background-color:rgb(130, 238, 233) ;
	border-radius: 15px;
	box-sizing: border-box;
	width: 10%;
}


.container3 h1{
	background-color:rgb(130, 238, 233) ;
	box-sizing: border-box;
	width: 50%;
}

.container3 p{
	background-color:rgb(130, 238, 233) ;
	box-sizing: border-box;
	width: 50%;
}

.container4 {
	width: 100%;
	margin: 0;
	padding: 25px;
	background-color:rgb(145, 164, 173);
}

.container4 h2{
	background-color:rgb(130, 238, 233) ;
	border-radius: 15px;
	box-sizing: border-box;
	width: 13%;
}

.container5 {
	width: 100%;
	margin: 0;
	padding: 50px;
	background-color: rgb(75, 87, 92);
	background-size: cover;

}
.container5 h2{
	background-color:rgb(130, 238, 233) ;
	border-radius: 15px;
	box-sizing: border-box;
	width: 15%;
}

header {
	background-color: rgb(56, 64, 68);
	color: rgb(34, 32, 32);
}
header h1{
	background-color: rgb(130, 238, 233);
	border-radius: 10px;
}

.avatar {
	background-image: url(./images/avatar.jpg);
	background-position: center;
	background-size: cover;
	float: left;
	width: 100px;
	height: 100px;
	margin: 30px;
	border-radius: 50%;
}

.developer-name {
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 60px;
}

nav {
	display: inline-block;
	justify-content: end;
	margin-top: 50px;	
}

nav ul {
	list-style:none;

}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	color:rgb(130, 238, 233);
	text-decoration: underline;
    position: relative;
}

nav a:hover {
	text-decoration: underline;
}

section {
	padding: 0 ;
	background-color: blanchedalmond;
	margin: 0px;
}

section h2 {
	margin-bottom: 20px;
	padding: 10px;
}

.work-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.work-gallery div{
	width: 350px;
	height: 300px;
}

.box1{
	background-image: url(./images/work-1.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.box2{
	background-image: url(./images//work-2.png);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.box3{
	background-image: url(./images//work-3.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}
