*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex; /*image and link would be side by side*/
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: list-item;  /*for about, contanct.., and my name is somayyah.... */
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color: black;  /*for about, contact,....*/
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


.header-text{
    margin-top: 40%; /*--these are for web debeloper, AE student--*/
    font-size: 30px;
}

.header-text h1{
font-size: 60px; /*---this is for i'm somayyah ...--*/
margin-top: 20px;
}

.header-text h1 span{ /*--this is for Somayyah Maqsudi--*/
    color: #ff004f;
}


/*------------------------------------------------------about----------------------------------------*/

#about{
    color: white;;
    padding: 80px 0px;
}

.row{
    display: flex; /*getting the content side by side*/
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 25%; /*how big or small the image is. the second image*/
    margin: 40px 25px;
}
.about-col-1 img{ /*second image*/
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 70%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600; /*about me and my work sizing*/
    color: white;
}

.tab-titles{
    display: flex;
    margin:20px 0 40px; /*20 from top, 0 from left and right, 40 from bottom*/
    margin: 20px 0px 20px;
    justify-content: space-between;
    font-size: 20px;
}

.tab-titles ul li{
    display: list-item;
    margin: 20px 20px;
}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0px 20PX;
    display: list-item;
}

.tab-contents p{
    display: flex;
    margin: 10px 20px;
}

.tab-contents li{
    margin: 10px 20px;
}

.tab-contents ul li span{
    color: #e04c35;
    font-size: 30px;
}
 
/*-------------------------------------------work----------------------------------------------------------*/

#work{
    padding: 30px 0; /*--30px from top and bottom and 0 from left and right---*/
    background-color: black;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; /*---space from top--*/
    background-color:black;
    color: white;   /*this is for font color*/ 
}


.work-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}

.work-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.work-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/*------------------------------------ -Contact ------------------------------------------------------*/
.info{
    font-size: 20px;
    color: white;
    margin: 20px 20px;
    display: contents;
}